*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #1d1d1d;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.general{
    padding:25px;
    text-align: center;
}
.big-font{
    font-size: 25px;
    margin: 25px;
    text-align: center;
}
#vueContainer img{
    max-width: 800px;
    width: 100%;
}